.header{
    display:flex;
    border:1px solid #dfd7d7;
    background-color:#F5DEB3;
}
div.logoitem {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.logoitem img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
  position: relative;
  animation: captionmove 5s infinite,blink 2s linear infinite;
  color:green;
  font-weight:bold;
}
 @keyframes blink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: .5;
        }
        100% {
          opacity: 1;
        }
      }
@keyframes captionmove {
  from {left: 0px;}
  to {left: 100px;}
  0%   {color: Tomato;}
  25%  {color: Orange;}
  50%  {color: DodgerBlue;}
  100% {color: deeppink;}
}
@keyframes highlisttext {
  0%   {color: red;}
  25%  {color: #9FE2BF;}
  50%  {color: blue;}
  100% {color: pink;}
}
.logo{
    width:30%
}
.nav-items{
    width:70%
}
.nav-items > ul {
    list-style:none;
    font-weight:bold;
    padding:10px;
    display:flex;
}
.nav-items > ul >li {
    font-weight:bold;
    padding:10px;
}
.container{
    border:1px solid #dfd7d7;
    display:flex;
    flex-wrap: wrap;
}
.card{
    padding:10px;
    margin:10px;
    border:1px solid #dfd7d7;
    width: 200px;
    background-image: linear-gradient(to bottom right, #9FE2BF, #fff);
}
.card >span{
    word-break: break-all;
}
.body-btn{
  background-image: linear-gradient(to bottom right, #9FE2BF, #fff);
  border:1px solid #9FE2BF;
  padding:5px;
  color:#b36262;
  font-weight:700;
}
.filter-btn{
  margin:10px;
  cursor:pointer;
}
.search-input{
  border:1px solid #9FE2BF;
  padding:4px;
  color:#b36262;
}
.search-btn{
}
.shimmer-container{
  display:flex;
  flex-wrap:wrap;
}

.shimmer-card {
  background-image: linear-gradient(to right, #ebebeb calc(50% - 100px), #c5c5c5 50%, #ebebeb calc(50% + 100px));
  background-size: 0;
  width:200px;
  height:300px;
  position: relative;
  overflow: hidden;
  border:1px solid #ccc;
  margin:15px;
}

.shimmer-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(200% + 200px);
  bottom: 0;
  background-image: inherit;
  animation: move 2s linear infinite;
}

@keyframes move {
  to {
    transform: translateX(calc(50% + 100px));
  }
}
@keyframes shimmer {
  100% {
    /* setting up mask position at left side */
    -webkit-mask-position: left
  }
}
