body{
  font-family: ProximaNova,
  arial,
  Helvetica Neue,
  sans-serif;
  letter-spacing: 0;
}
.header{
    display:flex;
    border:1px solid #dfd7d7;
    background-color:#F5DEB3;
}
div.logoitem {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.logoitem img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
  position: relative;
  animation: captionmove 5s infinite,blink 2s linear infinite;
  color:green;
  font-weight:bold;
}
 @keyframes blink {
        0% {
          opacity: 0;
        }
        50% {
          opacity: .5;
        }
        100% {
          opacity: 1;
        }
      }
@keyframes captionmove {
  from {left: 0px;}
  to {left: 100px;}
  0%   {color: Tomato;}
  25%  {color: Orange;}
  50%  {color: DodgerBlue;}
  100% {color: deeppink;}
}
@keyframes highlisttext {
  0%   {color: red;}
  25%  {color: #9FE2BF;}
  50%  {color: blue;}
  100% {color: pink;}
}
.logo{
    width:30%
}
.nav-items{
    width:70%
}
.nav-items > ul {
    list-style:none;
    font-weight:bold;
    padding:10px;
    display:flex;
}
.nav-items > ul >li {
    font-weight:bold;
    padding:10px;
}
.container{
    display:flex;
    flex-wrap: wrap;
}
.card{
    padding:10px;
    margin:10px;
    border:1px solid #dfd7d7;
    width: 200px;
    background-image: linear-gradient(to bottom right, #9FE2BF, #fff);
}
.card >span{
    word-break: break-all;
}
.body-btn{
  background-image: linear-gradient(to bottom right, #9FE2BF, #fff);
  border:1px solid #9FE2BF;
  padding:5px;
  color:#b36262;
  font-weight:700;
}
.filter-btn{
  margin:10px 10px 10px 0px;
  cursor:pointer;
}
.search-input{
  border:1px solid #9FE2BF;
  padding:4px;
  color:#b36262;
}
.shimmer-container{
  display:flex;
  flex-wrap:wrap;
}

.shimmer-card {
  background-image: linear-gradient(to right, #ebebeb calc(50% - 100px), #c5c5c5 50%, #ebebeb calc(50% + 100px));
  background-size: 0;
  width:200px;
  height:300px;
  position: relative;
  overflow: hidden;
  border:1px solid #ccc;
  margin:15px;
}

.shimmer-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(200% + 200px);
  bottom: 0;
  background-image: inherit;
  animation: move 2s linear infinite;
}

@keyframes move {
  to {
    transform: translateX(calc(50% + 100px));
  }
}
@keyframes shimmer {
  100% {
    /* setting up mask position at left side */
    -webkit-mask-position: left
  }
}
.inner-filters-container {
  display:flex;
  flex-wrap:wrap;
}
.inner-filters{
  padding: 10px 10px 0px 0px;
  align-items: center;
  margin-right: 25px;
  text-align: left;
  cursor:pointer;
}


.main-filter-section {
  display: flex;
  border-bottom: 1px solid gray;
  width: 100%;
  justify-content: space-between;
  
}
.main-filter-section .head{
  font-weight: 600;
  font-size: 28px;
}

.main-filter-section div:last-child {
  margin-left: auto;
}

.restaurantHeader_wrapper{
  display:flex;
  padding:20px;
}
.nameAddress_wrapper
{
  flex-grow: 29
}
.rating_wrapper
{
  flex-grow: 1;
  padding:10px;
}
.btn_wrapper{
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  max-width: 100px;
}
.ratings_avgRating{
  color: #3d9b6d;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9eb;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}
.menu_wrapper{
padding:20px;
}
.menu_wrapper .menus{
  border-bottom:1px solid rgba(40, 44, 63, .45);
  padding-bottom:10px;
  display:flex;
}
.menu-details{
  flex-grow:8;
}




.menu-img-container {
  position: relative;
  width: 100%;
  max-width: 123px;
  flex-grow:1;
  padding:10px;
}

.menu-img-container .menu-img {
  width: 118px;
  height: 96px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
}
.menu-img-container .btn {
  position: absolute;
  bottom: -19%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color: #60b246;
  text-transform: uppercase;
  box-shadow: 0 2px 8px #d4d5d9;
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
}

.menu-img-container .btn:hover {
  box-shadow: 0 2px 8px #566ab9;
}
.user-list{
  display:flex;
}
.user-card{
  padding:10px;
  margin-right:10px;
}
.divInfo-d-none{
  display:none;
}
.show-link{
  font-size:12px;
  text-decoration:underline;
  color:blue;
  cursor:pointer
}

